<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='styles/formCadastroMotorista.css') }}">
    <title>Cadastro de Motorista</title>
</head>
<body>
    <div id="form">
        <form action="">

            <h2 class="title">Cadastrar Motorista</h2>

            <label for="username">Nome</label>
            <div class="input">
                <input id="username" name="username" placeholder="Nome" type="text">
            </div>

            <label for="email">Data de Nascimento,</label>
            <div class="input">
                <input id="data" name="data" placeholder="data" type="date">
            </div>

            <label for="cpf">CPF</label>
            <div class="input">
                <input id="cpf" name="cpf" placeholder="CPF" type="text">
            </div>

            <label for="endereço">Endereço</label>
            <div class="input">
                <input id="endereço" name="endereço" placeholder="Endereço" type="text">
            </div>

            <div id="btn">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</body>
</html>