*{margin: 0; padding: 0;}

form{
    position: absolute;
    top: 10%;
    left: 42%;
}

form img{
    position: relative;
    right: 10.5%;
    width: 275px; 
    height: 135px;
}

form label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

form div {
    border-radius: 6px;
    position: absolute;
    left: 25%;
}

div.grade-login{
    position: absolute;
    background-color: rgb(158, 158, 141);
    width: 350px;
    height: 400px;
    left: 37%;
    border-radius: 20%;
}

div.caixa-login{
    position: absolute;
    top: 100%;
    left: 6%;
}

input{
    border-end-start-radius: 8%;
    border-style: none;
}