*{margin: 0; padding: 0;}

form{
    position: absolute;
    top: 10%;
    left: 42%;
}

form img{
    position: relative;
    right: 10.5%;
    width: 275px; 
    height: 135px;
}

form label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form div {
    border-radius: 6px;
    position: absolute;
    left: 25%;
}