@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #000080, #191970, #483D8B);
}
#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}
select{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo select{
    padding: 0.2em;
    border: 1px solid;
    box-shadow: 2px 2px 2px;
    display: block;
    
}
.campo select option{
    padding-right: 1em;
}
.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    font-size: 11pt;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #000080, #191970, #483D8B);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: linear-gradient(-45deg, #191970, #483D8B, #6959CD)
}
@keyframes iniciar{
    0%{
        top: -20;
        opacity: 0;
        pointer-events: none;
    }
    100%{
        top: 50%;
        opacity: 100%;
        pointer-events: all;
    }
}